// main.scss - entry point for the project
// Use this file to @use the partials below. Adjust paths as needed.

@use "abstracts/variables" as *;
@use "abstracts/mixins" as *;

@use "base/reset";
@use "base/typography";
@use "base/base";

@use "layout/header";
@use "layout/footer";
@use "layout/grid";

@use "components/buttons";
@use "components/carousel";
@use "components/card";
@use "components/slideShow";
@use "components/navigation";

@use "utilities/helpers";
