@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mx;

.gallery {
  width: 100%;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @include mx.media(mx.$breakpoint-tablet-sm) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1px;
    gap: 1.5rem;
    align-items: start;
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}
