@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mx;

.app {
  gap: vars.$spacing-300;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; // center the app horizontally within the viewport
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: vars.$spacing-300;
}

.body {
  max-width: 1440px;
}
