@use "../abstracts/mixins" as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0 0 2rem 0;
}
html {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}
body {
  /*  min-height: 100vh; */
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
  font-family: "Libre Baskerville", serif;
  background-color: #fff;
  color: #000;
}
html:focus-within {
  scroll-behavior: smooth;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; /* removes bullets and numbers */
}

/* 2️⃣ Neutral list items */
li {
  margin: 0;
  padding: 0;
}
a {
  color: inherit; /* inherit parent text color */
  text-decoration: none; /* remove underline */
  background-color: transparent; /* ensure no default focus bg */
  cursor: pointer;
}

button {
  font: inherit; /* inherit font styles from parent */
  color: inherit; /* inherit text color from parent */
  background: none; /* remove default bg */
  border: none; /* remove default border */
  padding: 0; /* remove default padding */
  cursor: pointer; /* show pointer cursor on hover */
}
