@use "../abstracts/mixins" as *;
.text-title {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  line-height: 125%;
  font-feature-settings: "liga" off, "clig" off;
  text-align: left;
}

.text-subtitle {
  color: white;
  opacity: 0.7528;
  font-size: 1rem;
  font-weight: 400;
  font-feature-settings: "liga" off, "clig" off;
}
